<h1>Add recipe!</h1>
{% if recipe %}{{ recipe }}{% endif %}
<br /><br />
Naam: <input type="text" name="name" id="name" {% if name %}value="{{ name }}"{% endif %} /><br />
Caloriën: <input type="text" name="calorien" id="calorien" {% if calorien %}value="{{ calorien }}"{% endif %} /><br />
Ingrediënten: <input type="text" name="ingredienten" id="ingredienten" {% if ingredienten %}value="{{ ingredienten }}"{% endif %} /><br />
Tijd: <input type="text" name="Tijd" id="Tijd" {% if Tijd %}value="{{ Tijd }}"{% endif %} /><br /><br />
<input type="submit" value="Put a recipe!"  onclick="location.href = '/recipe/' + encodeURIComponent(document.getElementById('name').value)"/>